#buttonreg_nav {
    
    background-color: #4c74af;
    border-color: rgba(7, 8, 8, 0.91);
    width: 200px;
    height: 50px;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
  }